/******************************************
 * Uncomment a line here to override a variable
 * comment out to restore default
 ******************************************/

// Breakpoints
// $large-breakpoint: 64em !default;
// $medium-breakpoint: 42em !default;

// // Headers
// $header-heading-color: #fff !default;
$header-bg-color: #990000;
$header-bg-color-secondary: #990000;

// // Text
$section-headings-color: #990000;
$body-text-color: #000;
$body-link-color: #aa0000;
// $blockquote-text-color: #819198 !default;

// // Code
// $code-bg-color: #f3f6fa !default;
// $code-text-color: #567482 !default;

// // Borders
// $border-color: #dce6f0 !default;
// $table-border-color: #e9ebec !default;
// $hr-border-color: #eff0f1 !default;